h1,
h3 {
    color: #4e505d !important;
    font-weight: bold !important;
}

.content-wrapper {
    background: #ffffff;
}

.sidebar-dark-primary {
    background: #02a2d0 !important;
}

.sidebar a {
    color: #ffffff !important;
}

.bg-main-server {
    background-color: #ffffff;
}

.btn-primary {
    color: #07c3f5;
    background-color: #ffffff;
    border-color: #07c3f5 !important;
    box-shadow: none !important;
    font-weight: bold !important;
}

.btn-primary:hover {
    color: #f9f3f3 !important;
    background-color: #07c3f5 !important;
    border-color: #07c3f5 !important;
    box-shadow: none !important;
    font-weight: bold !important;
}

.bg-info {
    background: #ffffff !important;
    color: #dd404d !important;
    font-weight: bold;
}

.bg-info p {
    color: #4e505d !important;
    margin-bottom: 1px !important;
}

.small-box-footer {
    background-color: #Ddf4fd !important;
}

.bg-info a {
    color: #02a2d0 !important;
    font-weight: bold;
}

.bg-info .progress {
    background-color: rgba(0, 0, 0, .125);
    height: 2px;
    margin: 5px 0;
}

.bg-info .progress-bar {
    background-color: #dd404d;
}

.bg-gradient-info {
    background: #dc3643 linear-gradient(180deg, #dc3643, #dc3643) repeat-x!important;
    color: #fff;
}

.info-box .progress .progress-bar {
    background-color: #f0c239;
}

.login-page {
    background: #02a2d0 !important;
}

.login-title {
    justify-content: center;
    margin-bottom: 4px;
}

.login-box .card {
    border-radius: 1rem !important;
}

.login-card-body {
    border-radius: 1rem;
}

.status-antrian {
    background: #87CEEB;
    color: #000000;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
}

.user-panel img {
    width: 11rem !important;
}

.user-panel {
    border-bottom: 1px solid #FFFFFF !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #E2f5fd !important;
}